body {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    background: yellow;
    color: black;
    text-decoration: none;
}

h1,h2,h3,p,ul {
    margin: 0;
}

/* index */

.headline {
    margin-top: 2em;
    margin-bottom: 2em;
}

p {
    margin-top: 1.5em;
}

h3 {
    margin-top: 1.5em;
}



#column {
    margin: 0 auto 0 auto;
    max-width: 50em;
    font-size: 110%;
}

#footer {
    margin-top: 2em;
    border-top: 4px solid #eee;
    font-size: 80%;
}

#contacts {
    margin-top: 2em;
}
