#post a {
    background-color: white;
    color: rgb(158, 34, 34);
    text-decoration: underline;
}

#post p {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.3em;
}

#post ul {
    list-style-type: disc;
    padding-left: 2em;
    line-height: 1.3em;
}

#post ol {
    list-style-type: decimal;
    padding-left: 2em;
    line-height: 1.3em;
}

#post blockquote {
    padding-left: 2em;
}

#post strong {
    font-weight: bold;
}



#post h1 {
    margin-top: 1.5em;
}

#post h1 span {
    font-size: 200%;
    color: rgb(158, 34, 34);
}


#post h2 {
    margin-top: 1.5em;
}

#post h2 span {
    font-size: 150%;
    color: rgb(158, 34, 34);
}