---
layout: extracss
---

<div id="protocolPage">

<div class="menu">
    <span class="home"><a href="{{ site.url }}/">Home</a></span>
    <span><a href="{{ site.url }}/files/nidaba.pdf">The whitepaper</a></span>
    <span><a href="{% post_url 2014-06-09-tech %}" class="selected">Protocol description</a></span>
</div>

<div class="submenu">
    <span class="subtitle">Core protocol</span>

    {% for item in site.data.protocolmenu %}
        {% for node in site.posts %}
            {% if item.key == node.name %}
                {% if page.url == node.url %}
                    <span><a href="{{ node.url }}" class="selected">{{ item.name }}</a></span>
                {% else %}
                    <span><a href="{{ node.url }}">{{ item.name }}</a></span>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>

{{ content }}

</div>